html {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

body {
  background-color: #e1e5e9;
  margin: 0px;
}
.container-main {
  font-family: "Segoe UI";
}

#navbar {
  overflow: hidden;
}

nav {
  z-index:1;
  background-color: rgb(243, 239, 239);
  display: flex;
  padding-left: 5vw;
  padding-right: 5vw;
  height: 55px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 90vw;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .container-content {
  padding-top: 60px;
}

nav ul {
  list-style-type: none;
}

ul li {
  display: inline;
}

nav .left-side {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
}

nav .left-side ul li {
  margin-right: 30px;
  font-weight: 600;
}

nav .left-side ul .bold {
  font-weight: 800;
}

nav .left-side a {
  text-decoration: none;
  color: black;
}

nav .right-side {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

nav .right-side a {
  color: white;
  border-radius: 10px;
  background-color: rgb(1, 1, 12);
  padding: 8px 20px;
  text-decoration: none;
  font-weight: 600;
  line-height: 100%;
}

.container-content {
  padding-top: 3.5vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.container-content h2 {
  font-weight: 800;
  margin: auto;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.container-content form .col-2 {
  display: flex;
}

.container-content .card {
  border-radius: 7px;
  background-color: white;
  display: flex;
  margin: 0 5vw;
  padding: 3vw 4vw;
  box-shadow: 0.3px 1.5px 2.2px rgba(0, 0, 0, 0.02),
    0.8px 3.7px 5.3px rgba(0, 0, 0, 0.028), 1.5px 7px 10px rgba(0, 0, 0, 0.035),
    2.7px 12.5px 17.9px rgba(0, 0, 0, 0.042),
    5px 23.4px 33.4px rgba(0, 0, 0, 0.05), 12px 56px 80px rgba(0, 0, 0, 0.07);
}

/* .container-content .card .left-side {
} */

.container-content .card .right-side {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-left: 4vw;
}

.container-content .left-side .col-1 h2 {
  font-weight: 800;
}

.container-content .left-side .col-1 p {
  font-weight: 600;
  text-align: justify;
}

.container-content .left-side .col-2 {
  display: flex;
  margin-top: 40px;
  justify-content: flex-start;
  align-items: center;
}

.container-content .left-side .col-2 a {
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  margin-right: 10px;
  color: #0c0525;
}
.container-content .left-side .col-2 .contact {
  color: white;
  border-radius: 10px;
  background-color: rgb(1, 1, 12);
  padding: 8px 35px;
  height: 20px;
  border-radius: 50px;
  letter-spacing: 0.7;
}

.container-content .left-side .col-3 {
  margin-top: 50px;
}

.social-media i {
  margin-right: 20px;
  color: #e1e5e9;
  background-color: black;
  padding: 7px;
  font-size: 22px;
  width: 22px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.card-me {
  border-radius: 7px;
  width: 23vw;
  box-shadow: 0.3px 1.5px 2.2px rgba(0, 0, 0, 0.02),
    0.8px 3.7px 5.3px rgba(0, 0, 0, 0.028), 1.5px 7px 10px rgba(0, 0, 0, 0.035),
    2.7px 12.5px 17.9px rgba(0, 0, 0, 0.042),
    5px 23.4px 33.4px rgba(0, 0, 0, 0.05), 12px 56px 80px rgba(0, 0, 0, 0.07);
}

.card-me img {
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  max-width: 100%;
}

.id {
  margin-bottom: 7%;
  text-align: center;
}

.name {
  line-height: 0.7em;
  margin-bottom: 15px;
  font-weight: 800;
  font-size: 1.5vw;
}

/* Contact */

form {
  width: 35%;
  margin: auto;
  margin-bottom: 150px;
}

form .input-contact {
  width: 100%;
  padding: 15px;
  margin-top: 3px;
  border: 0.5px solid rgb(71, 71, 71, 0.35);
  outline: none;
  border-radius: 5px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}

label {
  font-weight: 700;
}

.input-message {
  height: 130px;
  resize: none;
}

.select-subject {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-position: calc(100% - 12px) center !important;
  background: url("data:image/svg+xml,<svg height='14px' width='14px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>")
    no-repeat;
  background-color: white;
}

.btn-submit {
  background-color: rgb(1, 1, 17);
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  float: right;
  padding: 10px 35px;
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

/* My Project */

.date {
  display: flex;
  justify-content: space-between;
}

.date div {
  width: 48%;
}

input[type="checkbox"] {
  transform: scale(1.5);
}

.technologies {
  width: 100%;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.label-tech {
  margin-bottom: 20px;
}

.check-tech {
  flex-basis: 50%;
  margin-bottom: 20px;
}

.input-image {
  background-color: white;
  height: 50px;
  margin-top: 3px;
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.input-image .txt-choose {
  display: flex;
  height: 100%;
  color: rgb(128, 128, 128, 0.75);
  font-weight: 500;
  border-radius: 5px;
  background-color: rgb(218, 218, 218);
  align-items: center;
  letter-spacing: 2px;
}

.input-image .txt-choose div {
  margin-left: 15px;
  margin-right: 15px;
}

.input-image .file-name {
  margin-left: 15px;
  margin-right: 15px;
}

.input-image .suffix {
  font-size: 24px;
  margin-right: 15px;
  position: absolute;
  top: 30%;
  right: 0;
}

.container-projects {
  padding-top: 3vh;
  background-color: rgb(240, 240, 240);
}

.container-projects .list-project {
  padding: 20px 14.2vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.container-projects .card {
  cursor: pointer;
  display: inline;
  height: max-content;
  flex: 0 0 300px;
  border-radius: 7px;
  padding: 15px;
  margin: 0 15px;
  margin-bottom: 7vh;
  border-radius: 7px;
  box-shadow: 0px 4px 11px -1px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 4px 11px -1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 4px 11px -1px rgba(0, 0, 0, 0.35);
}

.container-projects .card img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 7px;
  margin-bottom: 15px;
}

.container-projects .card .title {
  font-weight: 500;
}

.container-projects .card .duration {
  font-size: 14px;
  margin-bottom: 25px;
  color: rgba(5, 5, 5, 0.7);
}

.container-projects .card .description {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 25px;
  color: rgba(5, 5, 5, 0.9);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.container-projects .card .technologies img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  margin-bottom: 25px;
}

.container-projects .card .btn-action {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.container-projects .card .btn-action .edit {
  margin-right: 2.5px;
  padding: 2px;
  padding-bottom: 5px;
  display: flex;
  width: 50%;
  border-radius: 7px;
  color: white;
  justify-content: center;
  background-color: rgb(28, 28, 49);
}

.container-projects .card .btn-action .delete {
  margin-left: 2.5px;
  padding: 2px;
  padding-bottom: 5px;
  display: flex;
  width: 50%;
  border-radius: 7px;
  color: white;
  justify-content: center;
  background-color: rgb(28, 28, 49);
}
